<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/assets/js/secretWords.js"></script>
    <script src="/assets/js/nearest1k.js"></script>
    <title>Swemantle: närmaste orden</title>
  </head>
  <body>
    <div id="warning" style="display:none; ">
      <div style="border:thin solid black; background-color: #ffdddd">
        VARNING: Detta kommer att avslöja dagens Swemantle-ord! Klicka här för att se innehållet på denna sidan ändå.
      </div>
    </div>
    <div id="nearest" style="display:none;">
      Närmaste orden till <b id="word">{{word}}</b> är:
      <table >
        <tr>
          <th>Närhet (högre är närmre)</th>
          <th>Ord</th>
          <th>Likhet</th>
        </tr>
        {% for word in words %}
        <tr>
          <td> {{word['percentile']}}</td>
          <td> {{word.neighbor}}</td>
          <td> {{word.similarity}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <br/>
    <a href="/">Tillbaka till Swemantle</a>
  </body>
</html>
